/* Estilos para la barra desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent button {
  width: 100%;
  text-align: left;
  padding: 10px;
  border: none;
  background-color: white;
}

.dropdownContent button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}
